#Exercise 6.1 - Data for Project
This script contains the following

1 - Importing Visualizations and Libraries

2- Data Cleaning
•	Renaming Columns
•	Checking/fixing duplicate missing data
•	Descriptive Analysis of Data

3- Exporting New dataframes

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
import os

1. - Import Original Data

In [2]:
Path = "C:/Users/kenwh/Achievement 6"

In [3]:
#Import Data
df = pd.read_csv(os.path.join(Path, '6.1 Original Data.csv'))

# Data Cleaning
Renaming Columns

In [4]:
df.shape

(1338, 7)

In [5]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [6]:
#rename columns

df.rename(columns = {'age': 'Age', 'sex': 'Gender', 'bmi': 'Body Mass Index',
                     'children': 'Number of Children', 'smoker': 'Smoker',
                     'region': 'Region of USA', 'charges': 'Expenses' },
                      inplace = True)

In [7]:
df.dtypes

Age                     int64
Gender                 object
Body Mass Index       float64
Number of Children      int64
Smoker                 object
Region of USA          object
Expenses              float64
dtype: object

In [8]:
df.head()

,Age,Gender,Body Mass Index,Number of Children,Smoker,Region of USA,Expenses
0,19,female,27.900,0,yes,southwest,16884.92400
1,18,male,33.770,1,no,southeast,1725.55230
2,28,male,33.000,3,no,southeast,4449.46200
3,33,male,22.705,0,no,northwest,21984.47061
4,32,male,28.880,0,no,northwest,3866.85520

In [24]:
region_counts = df["Region of USA"].value_counts()

In [25]:
print(region_counts)

Region of USA
southeast    364
southwest    325
northwest    325
northeast    324
Name: count, dtype: int64

# Missing Value Checks

In [9]:
# check for missing values - No missing values found!
df.isnull().sum()

Age                   0
Gender                0
Body Mass Index       0
Number of Children    0
Smoker                0
Region of USA         0
Expenses              0
dtype: int64

# Duplicate Check

In [10]:
df_dups = df[df.duplicated()]

In [11]:
df_dups.shape

(1, 7)

In [12]:
df_dups.head()

,Age,Gender,Body Mass Index,Number of Children,Smoker,Region of USA,Expenses
581,19,male,30.59,0,no,northwest,1639.5631

In [13]:
df_cleaned = df.drop_duplicates()

In [14]:
df_cleaned.reset_index(drop=True, inplace=True)

In [15]:
df_dupscheck = df_cleaned[df_cleaned.duplicated()]

In [16]:
df_dupscheck.shape

(0, 7)

Removed one duplicate column

# Descriptive Statistics

In [17]:
# Calculate descriptive statistics - Mean, Median and Mode
print("Mean:", df_cleaned[['Age', 'Body Mass Index', 'Number of Children', 'Expenses']].mean())
print("Median:", df_cleaned[['Age', 'Body Mass Index', 'Number of Children', 'Expenses']].median())
print("Mode:", df_cleaned[['Age', 'Body Mass Index', 'Number of Children', 'Expenses']].median())

Mean: Age                      39.222139
Body Mass Index          30.663452
Number of Children        1.095737
Expenses              13279.121487
dtype: float64
Median: Age                     39.0000
Body Mass Index         30.4000
Number of Children       1.0000
Expenses              9386.1613
dtype: float64
Mode: Age                     39.0000
Body Mass Index         30.4000
Number of Children       1.0000
Expenses              9386.1613
dtype: float64

In [18]:
#value counts of object columns
smoker_counts = df['Smoker'].value_counts()
print("Smoker counts:")
print(smoker_counts)

region_counts = df['Region of USA'].value_counts()
print("Region counts:")
print(region_counts)

Smoker counts:
Smoker
no     1064
yes     274
Name: count, dtype: int64
Region counts:
Region of USA
southeast    364
southwest    325
northwest    325
northeast    324
Name: count, dtype: int64

In [19]:
#value counts of object colums combined
value_counts = df[['Smoker', 'Region of USA']].value_counts()
print(value_counts)

Smoker  Region of USA
no      southeast        273
        northwest        267
        southwest        267
        northeast        257
yes     southeast         91
        northeast         67
        northwest         58
        southwest         58
Name: count, dtype: int64

# Exporting DataFrames

In [20]:
Path

'C:/Users/kenwh/Achievement 6'

In [21]:
df.to_csv(os.path.join(Path,'Data','Original Data','original_data.cvc'))

In [22]:
df_cleaned.to_csv(os.path.join(Path,'Data','Prepared data','cleaned_data.cvc'))